@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', '游ゴシック', sans-serif;
  background: #F3F3F3;
  color: #3E3E3E;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

dd, dt {
  margin: 0;
  padding: 0;
}

.inner {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;
}

/*-----------------------------------------------*/
.drawer--right .drawer-nav {
  margin-top: 5px;
}

.navbar_close {
  display: none;
}

#header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
#header > .inner {
  align-items: center;
  display: flex;
  height: 80px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.header-logo {
  display: none;
}

nav {
  width: 100%;
  height: 80px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  z-index: 10;
}

.navbar_toggle {
  display: none;
}

.sr-only {
  display: none;
}

.navbar {
  height: 28.8%;
}

ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul:first-child {
  padding-left: 0;
}
ul:last-child {
  padding-right: 0;
  margin-right: 0;
}

.nav-item {
  height: 100%;
  margin-right: 16.5px;
}
.nav-item:hover {
  cursor: pointer;
}

.nav-link {
  width: 100%;
  height: 100%;
  color: #3E3E3E;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  line-height: 19px;
  letter-spacing: -.25px;
}

#home > .inner {
  background-image: url("../img/mv.png");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 648px;
}

.caption {
  position: absolute;
  top: 33.59%;
  left: 53.661%;
  width: 524px;
  height: 264px;
}

.caption-title {
  color: #3E3E3E;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  letter-spacing: .0075px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 40px;
  width: 81%;
  height: 32%;
}
.caption-title span::after {
  content: "\a";
  white-space: pre;
}

.caption-lead {
  color: #3E3E3E;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  letter-spacing: .25px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
  height: 18.5%;
}

.btn-contact {
  font-size: 18px;
  background-color: #FFAA3B;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(62, 62, 62, 0.2);
  color: #fff;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  width: 53.5%;
  height: 19.5%;
  letter-spacing: .25px;
  line-height: 26px;
  padding-top: 13px;
}
.btn-contact:hover {
  background-color: #F18900;
}

#news {
  position: relative;
  background-color: #F3F3F3;
  width: 100%;
  height: 915px;
}
#news > .inner {
  position: absolute;
  background-color: #FFF;
  box-shadow: 0 5px 12px 0 rgba(62, 62, 62, 0.2);
  width: 86.384%;
  height: 71.586%;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 130px auto;
}
#news h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
#news .container {
  width: 91.498%;
  margin-right: 50px;
  margin-left: 50px;
}

.midline {
  width: 100%;
  justify-content: center;
  border: 1px solid #CECDCD;
  margin-top: 0;
  margin-bottom: 0;
}
.midline:first-child {
  margin-top: 35px;
}
.midline:last-child {
  margin-bottom: 35px;
}

.news-content-link {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: -10px;
}
.news-content-link:hover {
  background-color: #ECF0FF;
}

.news-content {
  display: flex;
  align-items: center;
}
.news-content label {
  border: 2px solid #3B69FF;
  border-radius: 50px;
  width: 11.3%;
  margin-right: 60px;
}

.date {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 26px;
  width: 10%;
  height: 17%;
  margin-left: 4px;
  margin-right: 57px;
}

.news-type {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 26px;
  text-decoration: none;
  color: #3E3E3E;
}

.news {
  font-size: 18px;
  letter-spacing: .25px;
  line-height: 28px;
  width: 64.5%;
  text-align: left;
  font-weight: 400;
  line-break: strict;
  text-decoration: none;
  color: #3E3E3E;
  margin-right: 10px;
}

.more {
  display: block;
  border: 1px solid #707070;
  letter-spacing: 2px;
  line-height: 22.5px;
  width: 248px;
  height: 64px;
  padding: 20px 86px;
  font-size: 20px;
  font-weight: 600;
  color: #3E3E3E;
  text-decoration: none;
  margin: 40px auto;
}
.more:hover {
  background-color: #3E3E3E;
  color: #FFF;
}

#service {
  position: relative;
  width: 100%;
  height: 525px;
}
#service > .inner {
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 76%, #F3F3F3 76%, #F3F3F3 100%);
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
}
#service > .inner h2 {
  color: #fff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
#service > .inner .container {
  position: absolute;
  top: 38.9%;
  left: 14.862%;
  box-shadow: 0 5px 12px 0 rgba(62, 62, 62, 0.2);
  width: 70.279%;
  height: 61.145%;
  background-color: #FFF;
  margin-bottom: 130px;
  display: flex;
  padding: 50px 48px;
}

.service-content {
  margin-right: 85.5px;
}
.service-content:last-child {
  margin-right: 0;
}
.service-content:last-child .service-title {
  width: 50%;
}

.service-image {
  margin-bottom: 20px;
  width: 50.5px;
  height: 43px;
}

.service-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 0 auto;
  width: 40%;
}
.service-title:last-child {
  width: 63%;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: .0075px;
  line-height: 24px;
  width: 100%;
  height: 31.02%;
  margin-top: 20px;
}

#results {
  width: 100%;
  height: 832px;
}
#results > .inner {
  position: relative;
  background: linear-gradient(90deg, #F3F3F3 0%, #F3F3F3 7%, #3E3E3E 7%, #3E3E3E 100%);
  width: 100%;
  height: 100%;
  text-align: left;
  top: 0;
  left: 0;
  margin-top: 130px;
}
#results > .inner .container {
  position: absolute;
  top: 0;
  left: 7%;
  width: 100%;
  height: 100%;
  background-color: #3E3E3E;
  padding-top: 80px;
  padding-left: 110px;
  padding-bottom: 80px;
}
#results > .inner .container h2 {
  color: #fff;
  text-align: left;
  margin-bottom: 80px;
}

.result-wrap {
  display: flex;
}
.result-wrap:last-child {
  margin-right: 0;
}

.swiper-slide {
  margin-right: 40px;
  width: 31.73% !important;
}
.swiper-slide:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.result-img {
  vertical-align: bottom;
}

.result-body {
  background-color: #FFF;
  width: 100%;
  padding: 20px;
}

.result-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .0075px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.result-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .0075px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.swiper-pagination {
  background-color: #3E3E3E;
  top: 67.8%;
  margin-top: 48px;
  margin-left: 110px;
  text-align: left !important;
  height: 2.404%;
}

.swiper-pagination-bullet {
  margin-right: 16px !important;
}
.swiper-pagination-bullet:focus {
  border-radius: 50%;
  border: 5px solid #FFF !important;
}

.view-all {
  display: block;
  border: 1px solid #FFF;
  width: 23.966%;
  letter-spacing: 2px;
  line-height: 22.5px;
  padding: 20px 86px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
  margin-top: 116px;
}
.view-all:hover {
  background-color: #FFF;
  color: #3E3E3E;
}

#price {
  width: 100%;
  height: 552px;
}
#price > .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
}
#price > .inner h2 {
  color: #3E3E3E;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
#price > .inner .container {
  position: absolute;
  top: 37%;
  left: 14.9%;
  width: 70%;
  height: 32.61%;
}

.price-table {
  border-collapse: collapse;
  width: 100%;
  height: 98.7%;
  margin: 0 auto;
}
.price-table tr, .price-table td {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.1px;
  line-height: 26px;
  border: 1px solid #707070;
  height: 33.3%;
}

.table-title {
  width: 30%;
  color: #FFF;
  background-color: #3E3E3E;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #FFF;
}

.table-content {
  color: #3E3E3E;
  background-color: #FFF;
  text-align: left;
  padding-left: 40px;
  font-weight: 700;
}

.precaution {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  margin-top: 24px;
}

#comments {
  width: 100%;
  height: 746px;
}
#comments > .inner {
  width: 100%;
  height: 100%;
}
#comments > .inner .container {
  position: relative;
  width: 100%;
  height: 80.7%;
  margin-top: 150.4px;
  background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 71.7%, #F3F3F3 71.7%, #F3F3F3 100%);
}

.comments {
  position: absolute;
  top: -24.5%;
  left: 6.7%;
  background-color: #FFF;
  width: 47.3%;
  height: 100.72%;
  padding: 80px 40px 120px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}
.comments h2 {
  color: #3E3E3E;
  text-align: left;
}
.comments:last-child {
  margin-bottom: 0;
}

.comment-body {
  display: flex;
  width: 100.5%;
  height: 25%;
  margin-bottom: 76px;
}

.comment-person {
  margin-top: 80px;
  margin-right: 50px;
  height: 100px;
}

.comment-text {
  color: #3E3E3E;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
  margin-top: 84px;
  width: 73.041%;
  height: 106.04%;
}

.comments-img {
  position: absolute;
  top: -4%;
  left: 54%;
}

#faqs {
  width: 100%;
  height: 1065px;
}
#faqs > .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../img/sunyu-kim-1053375-unsplash.png");
  background-size: cover;
}
#faqs > .inner h2 {
  color: #3E3E3E;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
#faqs > .inner .container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 43%;
  height: 73.5%;
}

.accordionlist {
  width: 100%;
  height: 100%;
}

.accordion-wrap {
  width: 100%;
  height: auto;
  background-color: #FFF;
  border-radius: 7px;
  text-align: left;
  padding: 18px;
  margin-bottom: 40px;
}
.accordion-wrap:hover {
  cursor: pointer;
}

.accordion-block {
  display: flex;
  width: 93%;
}

.accordion-title {
  display: flex;
  font-weight: 700;
  letter-spacing: .25px;
  line-height: 26px;
  width: 100%;
  line-break: normal;
  margin: 0 auto;
}
.accordion-title span {
  display: block;
  text-align: center;
  align-items: center;
  color: #FFF;
  font-weight: 600;
  line-height: 19px;
  background-color: #3B69FF;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 13px;
  padding-top: 3px;
}
.accordion-title::after {
  content: "\a";
  white-space: pre;
}

.accordion_icon1 {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
}
.accordion_icon1:hover {
  cursor: pointer;
}

.accordion_icon1.active {
  display: block;
}

.accordion_icon2 {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
}
.accordion_icon2:hover {
  cursor: pointer;
}

.accordion_icon2.active {
  display: block;
}

.accordion-answer {
  display: none;
  line-height: 26px;
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 7px;
  padding: 18px 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion-answer.active {
  display: block;
}

#access {
  width: 100%;
  height: 775px;
}
#access > .inner {
  width: 100%;
  height: 100%;
  text-align: left;
  top: 0;
  left: 0;
}
#access > .inner .container {
  background-color: #3E3E3E;
  width: 71.743%;
  height: 73.42%;
  padding-top: 130px;
  padding-left: 93px;
  padding-bottom: 178px;
}
#access > .inner .container h2 {
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}

.address {
  color: #FFF;
  text-align: left;
  font-family: "Yu Gothic UI";
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.gmapbtn {
  border: 1px solid #FFF;
  width: 36.754%;
  margin-top: 40px;
}
.gmapbtn p {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22.5px;
  background-color: #3E3E3E;
  text-align: center;
}

.map {
  position: relative;
  top: -103%;
  left: 52%;
  width: 720px;
  height: 515px;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#contact {
  width: 100%;
  height: 1216px;
}
#contact > .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../img/alex-blajan-159378-unsplash.png");
  background-size: cover;
  top: 0;
  left: 0;
}
#contact > .inner .container {
  position: absolute;
  top: 1%;
  left: 14.9%;
  width: 70.3%;
  height: 87%;
}

.contact-header {
  background-image: url("../img/contact1.png");
  background-size: cover;
  width: 100%;
  height: 19.34%;
  margin-top: 61.5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-position: center 0%;
}
.contact-header h2 {
  color: #FFF;
  text-align: center;
  margin-bottom: 12px;
  padding-top: 61.5px;
}

.contact-lead {
  color: #FFF;
  line-height: 22.5px;
  width: 50%;
  margin: 0 auto;
}

.contact-wrap {
  background-color: #FFF;
  width: 100%;
  height: 81.043%;
  border-radius: 0 0 12px 12px;
  padding: 50px 90px;
}

.contact-item {
  font-size: 22px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  margin-top: 0;
  margin-right: 98.3px;
  width: 22.565%;
}

.select {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
}
.select .contact-item {
  padding-top: 6px;
}
.select select:hover {
  box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
}

.select-contacttype {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1em;
  padding-left: 20px;
  margin-top: 2.5px;
  width: 33.4%;
  height: 32px;
}
.select-contacttype::-ms-expand {
  display: none;
}
.select-contacttype:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.name, .hurigana, .email-address {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: inherit;
  display: flex;
  font-family: inherit;
  font-size: 1em;
  margin-bottom: 40px;
  width: 100%;
  height: 3.5%;
}
.name input, .hurigana input, .email-address input {
  border-bottom: 1px solid #3E3E3E;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  padding-left: 10px;
  opacity: 0.6;
  width: 64.8%;
  height: 29.5px;
}
.name input:focus, .hurigana input:focus, .email-address input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #3E3E3E;
  border-top: none;
  border-left: none;
  border-right: none;
}
.name input:hover, .hurigana input:hover, .email-address input:hover {
  outline: none;
  border-bottom: 1px solid #3B69FF;
  box-shadow: 0px 9px 3px -3px rgba(59, 105, 255, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
}
.name input:focus, .hurigana input:focus, .email-address input:focus {
  outline: none;
  border-bottom: 1px solid #3B69FF;
  box-shadow: 0px 9px 3px -3px rgba(59, 105, 255, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
}

.name .contact-item::after {
  content: '必須';
  background-color: #FF4646;
  color: #FFF;
  border-radius: 5px;
  font-size: 16px;
  right: 0;
  padding: 2px 11px;
  margin-left: 89px;
}

.hurigana .contact-item::after {
  content: '必須';
  background-color: #FF4646;
  color: #FFF;
  border-radius: 5px;
  font-size: 16px;
  right: 0;
  padding: 2px 11px;
  margin-left: 45px;
}

.sex-type {
  display: flex;
  margin-bottom: 40px;
}
.sex-type span:first-child {
  margin-right: 60px;
}

.radiobtn {
  display: none;
}
.radiobtn + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 60px 0 0;
  padding: 0 0 0 1.2em;
  position: relative;
  line-height: 22.5px;
  font-size: 22px;
}
.radiobtn + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}
.radiobtn + span:hover::before {
  border-color: #3B69FF;
  box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
}
.radiobtn + span:active::before {
  background-color: #D1D9F5;
}
.radiobtn + span::after {
  -webkit-transform: translateY(-50%);
  background-color: #3B69FF;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 8px;
  margin-right: 15px;
}
.radiobtn:checked + span::after {
  opacity: 1;
}

.message {
  text-align: left;
}
.message .contact-item {
  margin-bottom: 10px;
}

.textarea-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0;
  width: 100%;
  height: 213px;
  max-height: 213px;
}
.textarea-text:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.privacycheck {
  display: flex;
  margin-top: 10px;
}
.privacycheck p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}

.privacy-protection {
  display: none;
}
.privacy-protection + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 1.2em;
  position: relative;
  margin-right: 20px;
}
.privacy-protection + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  content: "";
  display: block;
  height: 1.25em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2em;
}
.privacy-protection + span:hover::before {
  border-color: #3B69FF;
  box-shadow: 0 0 10px rgba(59, 105, 255, 0.3);
}
.privacy-protection + span:active::before {
  background-color: #D1D9F5;
}
.privacy-protection + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #3b69ff;
  border-left: 3px solid #3b69ff;
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}
.privacy-protection:checked + span::after {
  opacity: 1;
}

.sendbtn {
  margin-top: 30px;
  background-color: #FFAA3B;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 14px 50px;
  width: 22.308%;
  height: 6.803%;
}
.sendbtn a {
  text-decoration: none;
}
.sendbtn p {
  color: #FFF;
  font-size: 18px;
  letter-spacing: .25px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}
.sendbtn:hover {
  cursor: pointer;
  background-color: #F18900;
}
.sendbtn:visited {
  background-color: #B2B2B2;
}

#footer {
  top: 0;
  left: 0;
  width: 100%;
}
#footer > .inner {
  position: relative;
  color: #FFF;
  align-items: left;
  width: 100%;
  height: 424.5px;
  padding: 0;
  background-color: #3E3E3E;
}

.sns-icon {
  margin-top: 120px;
  margin-left: 93px;
  margin-bottom: 37px;
}

.fa-twitter {
  font-size: 235%;
  margin-right: 15px;
}

.fa-facebook {
  font-size: 235%;
}

.footer-link p {
  font-size: 18px;
  text-align: left;
  letter-spacing: .25px;
  line-height: 26px;
  margin-left: 93px;
}

.footer-logo {
  position: absolute;
  top: 28%;
  right: 0;
}

.logo {
  font-family: 'Berlin Sans FB';
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  line-height: 77px;
  margin-right: 102px;
  margin-bottom: 0;
  width: 100.974%;
}

.copyrights {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  letter-spacing: .25px;
  line-height: 15px;
  margin-right: 93px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 1;
}

.totop {
  position: absolute;
  top: 79.2%;
  right: 6.8%;
}

/* responsive */
/* pc */
/* tab */
/* sm */
@media screen and (max-width: 599px) {
  .drawer-nav {
    width: 18.75rem !important;
    background-color: #FFF !important;
    display: none;
    height: 100% !important;
  }

  .drawer--right .drawer-nav {
    margin-top: 0;
  }

  .navbar_close {
    display: block;
    background-color: transparent;
    border: none;
    z-index: 11;
    margin-top: 23px;
    margin-left: -10px;
    outline: none;
    position: fixed;
    top: 0;
    left: 10%;
  }

  .section-title {
    font-size: 30px;
    line-height: 37px;
  }

  #header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  #header > .inner {
    position: relative;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 68px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #FFF;
  }

  .header-logo {
    display: block;
    margin-left: 16px;
    padding-top: 5px;
  }

  .navbar {
    position: relative;
    margin-right: 0;
  }
  .navbar ul {
    margin-top: 166px;
  }

  .drawer-toggle {
    display: block;
  }

  .navbar_toggle {
    display: block;
    position: absolute;
    top: 37%;
    right: 10%;
    width: 16.36%;
    text-align: center;
  }

  .drawer-menu {
    display: block;
  }

  .drawer-hamburger {
    top: 6px !important;
    right: 27px !important;
  }

  .nav-item {
    height: 6.5%;
    text-align: center;
    margin-right: 0;
  }
  .nav-item:hover {
    cursor: pointer;
  }

  .nav-link {
    font-size: 18px;
    line-height: 22px;
  }

  #home > .inner {
    background-image: url("../img/mv@2x.png");
    background-size: cover;
    background-position: 24.3% 0;
    width: 100%;
    height: 667px;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
  }
  #home > .inner h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .caption {
    width: 91.47%;
    height: 38.231%;
    top: 30%;
    left: 5%;
    text-align: left;
  }

  .caption-title {
    font-size: 23.9px;
    width: 97.96%;
    height: 29.81%;
  }

  .caption-lead {
    font-size: 16.1px;
    height: 18.22%;
    margin-bottom: 50px;
  }

  .btn-contact {
    display: block;
    text-align: center;
    width: 67.64%;
    height: 19.61%;
    margin: 0 auto;
  }

  #news {
    height: 607px;
  }
  #news > .inner {
    top: -39px;
    width: 91.47%;
    height: 96.706%;
    margin-top: 0;
    margin-bottom: 60px;
  }
  #news > .inner h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #news .container {
    width: 100%;
    height: 80.07%;
    margin-left: 0;
    margin-right: 0;
  }

  .news-content-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .news-content {
    display: table;
    position: relative;
    padding: 16px;
    text-align: left;
    top: -8px;
  }
  .news-content label {
    width: 28.62%;
    height: 24px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
  }
  .news-content img {
    display: inline-block;
    position: absolute;
    top: 44%;
    right: 3%;
    margin-left: 16px;
  }

  .date {
    display: inline-block;
    font-size: 14px;
    width: 24.44%;
    margin-left: 0;
    margin-right: 20px;
  }

  .news-type {
    font-size: 12px;
  }

  .news {
    display: inline-block;
    width: 90.033%;
    font-size: 14px;
    letter-spacing: -.25px;
    line-height: 22px;
  }

  .more {
    font-size: 18px;
    width: 90.671%;
    height: 11.49%;
    padding: 16px 121.5px;
  }

  #service {
    height: 928px;
  }
  #service > .inner {
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 51.9%, #F3F3F3 51.9%, #F3F3F3 100%);
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #service > .inner .container {
    display: block;
    width: 91.47%;
    height: 80.927%;
    top: 12.7%;
    left: 4.27%;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 16px;
  }
  #service > .inner h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .service-content {
    margin: 0 auto;
    margin-bottom: 57px;
  }
  .service-content:last-child {
    margin-bottom: 0;
  }

  .service-title {
    font-size: 20px;
    line-height: 24px;
  }

  .section-description {
    width: 100%;
    height: 31.02%;
  }

  #results {
    height: 546px;
  }
  #results > .inner {
    position: static;
    background: #3E3E3E;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 0;
    padding-left: 16px;
  }
  #results > .inner .container {
    position: static;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  #results > .inner .container h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 19px;
  }

  .result-wrap {
    display: block;
  }

  .swiper-slide {
    margin-right: 24px;
    width: 77.01% !important;
  }

  .result-img {
    width: 100%;
  }

  .result-body {
    width: 100%;
    padding: 12px;
  }

  .result-title {
    font-size: 15px;
    line-height: 13px;
    margin-bottom: 20px;
  }

  .result-text {
    font-size: 12px;
    line-height: 20px;
  }

  .swiper-pagination {
    top: 543%;
    margin-left: 0;
    height: 2.404%;
    text-align: center !important;
    z-index: 5 !important;
  }

  .view-all {
    display: block;
    width: 95.544%;
    height: 9.891%;
    font-size: 18px;
    line-height: 23px;
    padding: 16px 113.5px;
    margin: 90px auto;
  }

  #price {
    height: 387px;
  }
  #price > .inner {
    text-align: center;
  }
  #price > .inner h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #price > .inner .container {
    top: 30.5%;
    left: 4.27%;
    width: 91.47%;
    height: 46.9%;
  }

  .price-table {
    border-collapse: collapse;
    width: 100%;
    height: 99%;
    margin: 0 auto;
  }
  .price-table tr, .price-table td {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 26px;
    border: 1px solid #707070;
    height: 33.3%;
    padding-left: 20px;
    padding-right: 15px;
  }

  .precaution {
    margin-top: 10px;
  }

  #comments {
    height: 510px;
  }
  #comments > .inner .container {
    width: 100%;
    height: 88.236%;
    background: #3E3E3E;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .comments {
    position: absolute;
    top: -13%;
    left: 4.27%;
    width: 91.47%;
    height: 100%;
    padding: 40px 20px;
  }
  .comments h2 {
    margin-bottom: 40px;
  }

  .comment-body {
    display: flex;
    width: 99.413%;
    height: 35.91%;
    margin-bottom: 30px;
  }

  .comment-person {
    margin-top: 0;
    margin-right: 24px;
    height: 56px;
  }

  .comment-text {
    font-size: 14px;
    line-height: 22px;
    width: 73.041%;
    height: 106.04%;
    margin-top: 0;
  }

  .comments-img {
    display: none;
  }

  #faqs {
    height: 940px;
  }
  #faqs > .inner {
    background-image: url("../img/sunyu-kim-1053375-unsplash@2x.png");
    background-position: center center;
  }
  #faqs > .inner h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #faqs > .inner .container {
    position: absolute;
    top: 10.7%;
    left: 4.27%;
    width: 91.47%;
    height: 83.299%;
  }

  .accordion-wrap {
    margin-bottom: 30px;
  }

  .accordion-block {
    width: 96%;
  }

  #access {
    width: 100%;
    height: 574px;
  }
  #access > .inner .container {
    background-color: #3E3E3E;
    width: 100%;
    height: 100%;
    padding: 40px 16px;
  }
  #access > .inner .container h2 {
    margin-bottom: 32px;
  }

  .address {
    font-size: 12px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .gmapbtn {
    width: 100%;
    margin-top: 300px;
  }
  .gmapbtn p {
    font-size: 18px;
  }

  .map {
    top: -70%;
    left: 0;
    width: 100%;
    height: 241px;
  }

  #contact {
    height: 1102px;
  }
  #contact > .inner {
    background-image: url("../img/alex-blajan-159378-unsplash@2x.png");
    background-size: cover;
  }
  #contact > .inner .container {
    position: absolute;
    top: 0;
    left: 4.27%;
    width: 91.47%;
    height: 92.741%;
  }

  .contact-header {
    background: url("../img/contact1@2x.png") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 15.656%;
    margin-top: 40px;
    padding-top: 32px;
  }
  .contact-header h2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 0;
  }

  .contact-lead {
    font-size: 14px;
    line-height: 26px;
    width: 90.671%;
    text-align: left;
  }

  .contact-wrap {
    background-color: #FFF;
    width: 100%;
    height: 84.345%;
    padding: 40px 16px;
  }

  .contact-item {
    width: auto;
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 3px;
  }

  .select {
    display: block;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .select-contacttype {
    width: 100%;
    padding-left: 10px;
  }

  .name, .hurigana, .email-address {
    display: block;
    height: 7.034%;
  }
  .name input, .hurigana input, .email-address input {
    width: 100%;
  }
  .name input::placeholder, .hurigana input::placeholder, .email-address input::placeholder {
    font-size: 16px;
  }

  .name .contact-item::after {
    margin-left: 20px;
  }

  .hurigana .contact-item::after {
    margin-left: 20px;
  }

  .sex-type {
    display: block;
    height: 6.65%;
    text-align: left;
  }
  .sex-type label:nth-child(2) {
    margin-right: 60px;
  }

  .radiobtn + span {
    font-size: 16px;
    margin-left: 0;
  }

  .textarea-text {
    width: 100%;
    height: 160px;
  }

  .privacycheck {
    font-size: 16px;
    margin-top: 2px;
  }

  .sendbtn {
    width: 38.91%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 13.5px 24px;
  }

  #footer {
    height: 408px;
  }
  #footer > .inner {
    height: 100%;
  }

  .sns-icon {
    margin: 58px 65px 33px;
  }

  .fa-twitter {
    font-size: 250%;
    margin-left: 18px;
    margin-right: 125px;
  }

  .fa-facebook {
    font-size: 263%;
  }

  .footer-link {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-link p {
    font-size: 14px;
    margin-left: 65px;
    margin-top: 0;
  }
  .footer-link p:last-child {
    margin: 0 auto;
  }

  .footer-logo {
    top: 50.187%;
    margin: 0 auto;
  }

  .logo {
    font-size: 31px;
    margin-top: 45px;
    line-height: 50px;
    text-align: center;
  }

  .totop {
    top: 84.356%;
    right: 4%;
  }
}

/*# sourceMappingURL=main.css.map */
