.header-wrap {
	.container {
		max-width: 100%;
		max-height: 100%;
		margin: 0;
		padding: 0;
	}
}
.header-image {
	position: relative;
}
.jujiya-image {
	position: relative;
	img {
		width: 100%;
	}
	&::after {
		content: '';
		background-color: rgba(0,0,0,.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.jujiya-caption {
	img {
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
	}
}
