#header {
	position: relative;
}
.navbar {
	z-index: 1;	
}
.g-nav {
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
}
.nav-item {
	width: 100%;
	text-align: center;
	margin-right: 10px;
}
.nav-link {
	display: inline-block;
	font-size: $_font-size * 2;
	color: $_color-nav;
	text-decoration: none;
	&:hover {
		color: #118B0A;
	}
}
