.news-list {
		width: 100%;
		max-height: 500px;
		overflow-y: scroll;
		font-size: $_font-size * 1.5;
		line-height: 1;
		margin-top: 30px;
		padding-left: 0;
		vertical-align: middle;
	li {
		background-color: #F3F3F3;
		&:nth-child(odd) {
			background-color: #E6E6E6;
		}
	}
	a {
		display: table;
		width: 100%;
		color: $_color-text;
		padding: 10px;
		transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-webkit-transition: 0.2s ease-in-out;
	}
	div {
		display: table-cell;
		width: 144px;
	}
	time {
		display: table-cell;
		vertical-align: top;
		width: 125px;
		padding-top: 10px;
		padding-left: 10px;
	}
	p {
		display: table-cell;
		line-height: 30px;
		margin-left: 30px;
		vertical-align: middle;
		&:hover {
			background-color: #FDFDFD;
			cursor: pointer;
		}
	}
}