// base font-size
$_font-size: 14px !default;

// base font-family
$_font-family: Georgia, "游明朝", "YuMincho", "Hiragino Mincho ProN", "HG明朝E", Meiryo, serif !default;
$_font-platdujour: 'Great Vibes', cursive;